<div class="container">
    <div class = "main-text">
        <h3>{{article.title}}</h3>
    <div class = "main-info">
      <p><img [src]='article.photo'/></p>
      <p>Author: {{article.user.name}}</p>
      <p>Category: {{article.categoryName}}</p>
    </div>
    <hr>
    <p>{{article.description}}</p>
    </div>
    
    <form (ngSubmit)="onSubmit()" #commentForm="ngForm" *ngIf='existed'>
      <h4>Create comment</h4>
        <div class="form-group" >
          <textarea type="text" class="form-control" id="commentText" aria-describedby="commentTextLabel" minlength="8" maxlength="200" required [(ngModel)]="comment.commentText"
            name="commentText" #commentText="ngModel"></textarea>
        </div>
        <div class="btn-group mr-2" role="group" aria-label="Save group"  (click)="onSubmit(comment, article.id)">
            <button type="button" class="btn btn-primary">Save</button>
        </div>
      </form>
      <hr>
      
      <h4>Comments</h4>
      <hr>
      <div class = "comment-info">
        <div *ngFor = "let userComment of userComments" >
          <div class = "comment-user">
            <img [src]='userComment.user.photo'/>
            <div class = "comment-user-info">
              <p>{{userComment.createdDate}}</p>
              <p>{{userComment.user.name}}</p>
            </div>
          </div>
          <p>{{userComment.commentText}}</p>
          <hr>
      </div>
    </div>
</div>
  
  