<div class="container">
    <div class = "main-text">
        <h3>{{article.title}}</h3>
    <hr>
    <p>{{article.createdDate}}</p>
    <p>Author: {{article.user.name}}</p>
    <p>Category: {{article.category.categoryName}}</p>
    <hr>
    <p>{{article.description}}</p>
    </div>
    <form (ngSubmit)="onSubmit()" #commentForm="ngForm">
        
        <div class="form-group">
          <textarea type="text" class="form-control" id="commentText" aria-describedby="commentTextLabel" minlength="8" maxlength="200" required [(ngModel)]="comment.commentText"
            name="commentText" #commentText="ngModel"></textarea>
          <div *ngIf="commentText.invalid && (commentText.dirty || commentText.touched)" class="alert alert-danger">
            <div *ngIf="commentText.errors.required"> commentText is required.</div>
            <div *ngIf="commentText.errors.minlength"> commentText must be at least 8 characters long.</div>
          </div>
        </div>
        
        <div class="btn-group mr-2" role="group" aria-label="Save group" *ngIf='existed' (click)="onSubmit(comment, article.id)">
            <button type="button" class="btn btn-primary">Save</button>
        </div>
      </form>

      <div *ngFor = "let comment of article.commentList">
        <p>{{comment.user}}</p>
        <p>{{comment.createdDate}}</p>
        <p>{{comment.commentText}}</p>
        <hr>
    </div>
    
</div>
  
  