<div class="container">
    <h2>Articles List</h2>
    <div class="aside-btn">
    <aside>
      <div *ngFor = "let category of categories">
        <div class="btn-group mr-2 mt-4" role="group" aria-label="Back group" (click)="getCategory(category.categoryName)">
            <button routerLink="/articles/category/{{category.categoryName}}" class="btn btn-primary">{{category.categoryName}}</button>
        </div>
      </div>
      <div class="btn-group mr-2 mt-4" role="group" aria-label="Back group">
        <button routerLink="/articles" class="btn btn-primary">All</button>
    </div>
    </aside>
    </div>
    <hr>
    <div *ngFor = "let article of articles">
        <h3>{{article.title}}</h3>
        <div class = "art-info">
          <img [src]='article.photo'/>
          <ul>
            <li>Author: {{article.user.name}}</li>
            <li>Category: {{article.categoryName}}</li>
            <li class="clip">Comments: {{article.comments.length}}</li>
            <li><a href = "/articles/{{article.id}}">Read more...</a></li>
          </ul>
        </div>
        <hr>
    </div>
  </div>
  
  