<div class="container">
    <h2>Customers Editor</h2>
    <form (ngSubmit)="onSubmit()" #articleForm="ngForm">
      <div class="form-group">
        <label for="title" id="titleLabel">Article title</label>
        <input type="text" class="form-control" id="title" aria-describedby="titleLabel" minlength="4" maxlength="100" required [(ngModel)]="article.title"
          name="title" #title="ngModel">
        <div *ngIf="title.invalid && (title.dirty || title.touched)" class="alert alert-danger">
          <div *ngIf="title.errors.required">Article title is required.</div>
          <div *ngIf="title.errors.minlength">Article title must be at least 4 characters long.</div>
        </div>
      </div>
      <div class="form-group" >
        <label for="category" id="categoryLabel">Article category</label>
        <select type="text" class="form-control" id="category" aria-describedby="categoryLabel" required [(ngModel)]="article.categoryName"
          name="category" #category="ngModel" >
              <option *ngFor = "let category of categories">{{category.categoryName}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="photo" id="photoLabel">Article photo</label>
        <input #file type="file" (change)="handleFileInput($event.target.files)" class="form-control" id="photo" aria-describedby="photoLabel" minlength="6" maxlength="50" 
         name="photo" accept=".jpeg,.png,.jpg">
      </div>
      <div class="form-group">
        <label for="description" id="descriptionLabel">Article description</label>
        <textarea type="text" class="form-control" id="description" aria-describedby="descriptionLabel" minlength="8" maxlength="2000" required [(ngModel)]="article.description"
          name="description" #description="ngModel"></textarea>
        <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert alert-danger">
          <div *ngIf="description.errors.required">Article description is required.</div>
          <div *ngIf="description.errors.minlength">Article description must be at least 8 characters long.</div>
        </div>
      </div>
      <div class="btn-group mr-2" role="group" aria-label="Save group" (click)="onSubmit(article)">
          <button type="button" class="btn btn-primary">Save</button>
      </div>
    </form>
  </div>
  